body{
    background-color: blueviolet;
    color: beige;
    font-family: "Playwrite CU", cursive;
    display: flex;justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}

button {
    background-color: #710180;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}


.passo{
    display: none;
}
.passo.ativo {
    display: block;
}

main{
    max-width: 90%;
    text-align: center;
}
img{
    max-width: 60%;
}